<div class="notification-panel-header"><span>SYSTEM STATUS</span></div>
<div class="notification-panel-list">
    <div class="notification-panel-item">
        <div class="notification-panel-item-title">Active Case</div>
        <div class="notification-panel-item-body">{{caseId}}</div>
    </div>
    <div class="notification-panel-item">
        <div class="notification-panel-item-title">Applications Unlocked</div>
        <div class="notification-panel-item-body">{{unlockedCount}}</div>
    </div>
    <div class="notification-panel-item">
        <div class="notification-panel-item-title">Evidence Collected</div>
        <div class="notification-panel-item-body">{{evidenceCount}}</div>
    </div>
</div>
